/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <dt-bindings/input/input.h>

#include "rk3588-diasom-btb.dtsi"

/ {
	model = "Diasom DS-RK3588-BTB-EVB";
	compatible = "diasom,ds-rk3588-btb-evb",
		     "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";

	aliases {
		ethernet0 = &ethernet2;
		ethernet1 = &ethernet3;
		ethernet2 = &gmac0;
		ethernet3 = &gmac1;
		i2c9 = &i2c9;
		i2c10 = &i2c10;
		i2c11 = &i2c11;
		i2c12 = &i2c12;
		mmc1 = &sdmmc;
	};

	chosen {
		environment-sd {
			compatible = "barebox,environment";
			device-path = &sdmmc, "partname:env";
			status = "disabled";
		};
	};

	adc-keys-1 {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1750000>;
		poll-interval = <100>;

		recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <50000>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm13 0 1000 0>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <256>;
		default-brightness-level = <224>;
	};

	pcie30_refclk: pcie30-refclk-clock {
		pinctrl-names = "default";
		pinctrl-0 = <&pcie30_clk_pins>;
		compatible = "gated-fixed-clock";
		clock-frequency = <100000000>;
		clock-output-names = "pcie30_refclk";
		enable-gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_HIGH>;
		#clock-cells = <0>;
	};

	lvds_sensor: thermal-sensor {
		compatible = "generic-adc-thermal";
		#thermal-sensor-cells = <0>;
		io-channels = <&saradc 3>;
		io-channel-names = "sensor-channel";
		temperature-lookup-table = <0 603
					    25000 1309
					    50000 2172
					    75000 2905>;
	};

	v_sys: v-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "v_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vbus_host20_1: vbus-host20-1-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&host20_1_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		regulator-name = "vbus_host20_1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vbus_host30_1: vbus-host30-1-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&host30_1_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
		regulator-name = "vbus_host30_1";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vbus_host30_2: vbus-host30-2-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&host30_2_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;
		regulator-name = "vbus_host30_2";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vbus_typec: vbus-typec-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&typec_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		regulator-name = "vbus_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_1v8_sys: vcc-1v8-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_3v3_sys: vcc-3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&v_sys>;
	};

	vcc_5v0_sys: vcc-5v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&v_sys>;
	};

	vcc_pcie30: vcc-pcie30-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&pcie30_vcc_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};
};

&brg {
	pinctrl-names = "default";
	pinctrl-0 = <&lvds_pins>;
	panel-enable-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
	panel-reset-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
	panel-backlight = <&backlight>;
	panel-reset-delay-ms = <10>;
	panel-enable-delay-ms = <10>;
	panel-prepare-delay-ms = <60>;
	panel-unprepare-delay-ms = <10>;
	panel-disable-delay-ms = <60>;
	status = "okay";

	rk628-lvds-out {
		bus-format = "vesa_24";
		link-type = "dual_link_odd_even_pixels";
	};

	display-timings {
		/* COG-TA25F325P-L5 */

		src-timing {
			clock-frequency = <74250000>;
			hactive = <1920>;
			vactive = <720>;
			hfront-porch = <56>;
			hsync-len = <12>;
			hback-porch = <16>;
			vfront-porch = <16>;
			vsync-len = <3>;
			vback-porch = <24>;
			hsync-active = <1>;
			vsync-active = <1>;
			de-active = <1>;
			pixelclk-active = <0>;
		};

		dst-timing {
			clock-frequency = <74250000>;
			hactive = <1920>;
			vactive = <720>;
			hfront-porch = <56>;
			hsync-len = <12>;
			hback-porch = <16>;
			vfront-porch = <16>;
			vsync-len = <3>;
			vback-porch = <24>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
		};
	};
};

&combphy0_ps {
	/* pcie2x1l2 (PCIE20_0) */
	status = "okay";
};

&combphy1_ps {
	/* pcie2x1l0 (PCIE20_1) */
	status = "okay";
};

&combphy2_psu {
	/* usb_host2_xhci (USB3_HOST2) */
	status = "okay";
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2
		     &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-rxid";
	phy-supply = <&vcc_3v3_sys>;
	rx_delay = <0x00>;
	tx_delay = <0x44>;
//	nvmem-cells = <&mac0>;
//	nvmem-cell-names = "mac-address";
	status = "okay";
};

&gmac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_miim &gmac1_tx_bus2 &gmac1_rx_bus2
		     &gmac1_rgmii_clk &gmac1_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-rxid";
	phy-supply = <&vcc_3v3_sys>;
	rx_delay = <0x00>;
	tx_delay = <0x44>;
	nvmem-cells = <&mac1>;
	nvmem-cell-names = "mac-address";
	status = "okay";
};

&hdmi_receiver_cma {
	status = "okay";
};

&hdmi_receiver {
	/* CEC is not connected */
	pinctrl-names = "default";
	pinctrl-0 = <&hdmim1_rx_scl &hdmim1_rx_sda
		     &hdmim1_rx_hpdin &hdmirx_det>;
	hpd-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <400000>;
	status = "okay";

	i2c_mux: i2c-mux@70 {
		pinctrl-names = "default";
		pinctrl-0 = <&mux_pins>;
		compatible = "nxp,pca9546";
		reg = <0x70>;
		i2c-mux-idle-disconnect;
		reset-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vcc_3v3_sys>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c9: i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c10: i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c11: i2c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;

			usb@22 {
				pinctrl-names = "default";
				pinctrl-0 = <&fusb302_pins>;
				compatible = "fcs,fusb302";
				reg = <0x22>;
				interrupt-parent = <&gpio4>;
				interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;
				vbus-supply = <&vbus_typec>;

				connector {
					compatible = "usb-c-connector";
					label = "USB-C";
					data-role = "dual";
					pd-disable;
					power-role = "source";
					typec-power-opmode = "default";

					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							/* HS */
							reg = <0>;

							typec0_hs: endpoint {
								remote-endpoint = <&usb_host0_xhci_hs>;
							};
						};

						port@1 {
							/* SS */
							reg = <1>;

							typec0_ss: endpoint {
								remote-endpoint = <&usb_host0_xhci_ss>;
							};
						};

						port@2 {
							/* Orientation Switch */
							reg = <2>;

							typec0_orientation_switch: endpoint {
								remote-endpoint = <&usbdp_phy0_orientation_switch>;
							};
						};
					};
				};

				port {
					/* Role Switch */
					typec0_role_switch: endpoint {
						remote-endpoint = <&usb_host0_xhci_role_switch>;
					};
				};
			};
		};

		i2c12: i2c@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&i2c7 {
	clock-frequency = <100000>;
	status = "okay";

	/* 24aa025e48 */
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		vcc-supply = <&vcc_1v8_sys>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac1: mac-address@fa {
				reg = <0xfa 0x06>;
				read-only;
			};
		};
	};

	/* 24aa025e48 */
	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		vcc-supply = <&vcc_1v8_sys>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac2: mac-address@fa {
				reg = <0xfa 0x06>;
				read-only;
			};
		};
	};

	/* 24aa025e48 */
	eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
		pagesize = <16>;
		vcc-supply = <&vcc_1v8_sys>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac3: mac-address@fa {
				reg = <0xfa 0x06>;
				read-only;
			};
		};
	};
};

&leds {
	pinctrl-0 = <&leds_som_pins &leds_evb_pins>;

	led-act {
		label = "evb:act";
		gpios = <&gpio1 RK_PC5 GPIO_ACTIVE_HIGH>;
		function = LED_FUNCTION_ACTIVITY;
		color = <LED_COLOR_ID_GREEN>;
		linux,default-trigger = LED_FUNCTION_ACTIVITY;
		default-state = "off";
	};
};

&mdio0 {
	rgmii_phy0: ethernet-phy@5 {
		/* RTL8211F DD13 */
		pinctrl-names = "default";
		pinctrl-0 = <&gmac0_rst_pins &eth0_pins>;
		compatible = "ethernet-phy-id001c.c916";
		reg = <0x5>;
		clocks = <&cru REFCLKO25M_ETH0_OUT>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@5 {
		/* RTL8211F DD14 */
		pinctrl-names = "default";
		pinctrl-0 = <&gmac1_rst_pins &eth1_pins>;
		compatible = "ethernet-phy-id001c.c916";
		reg = <0x5>;
		clocks = <&cru REFCLKO25M_ETH1_OUT>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
	};
};

&pcie2x1l0 {
	/* PCIE20_1 */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2x1l0_pins &pcie30x1m1_0_clkreqn>;
	/* &pcie30x1m1_0_waken disabled (swapped with rst) */
	reset-gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
	supports-clkreq;
	vpcie3v3-supply = <&vcc_3v3_sys>;
	status = "okay";

	pcie@0,0 {
		reg = <0x200000 0 0 0 0>;
		ranges;
		device_type = "pci";
		bus-range = <0x20 0x2f>;
		#address-cells = <3>;
		#size-cells = <2>;

		ethernet2: ethernet@0,0 {
			/* RTL8125BI-CG DD12 */
			compatible = "pci10ec,8125";
			reg = <0x210000 0 0 0 0>;
			nvmem-cells = <&mac2>;
			nvmem-cell-names = "mac-address";
		};
	};
};

&pcie2x1l2 {
	/* PCIE20_0 */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2x1l2_pins &pcie20x1m1_clkreqn>;
	/* &pcie20x1m1_waken disabled (swapped with rst) */
	reset-gpios = <&gpio4 RK_PC0 GPIO_ACTIVE_HIGH>;
	supports-clkreq;
	vpcie3v3-supply = <&vcc_3v3_sys>;
	status = "okay";

	pcie@0,0 {
		reg = <0x400000 0 0 0 0>;
		ranges;
		device_type = "pci";
		bus-range = <0x40 0x4f>;
		#address-cells = <3>;
		#size-cells = <2>;

		ethernet3: ethernet@0,0 {
			/* RTL8125BI-CG DD8 */
			compatible = "pci10ec,8125";
			reg = <0x410000 0 0 0 0>;
			nvmem-cells = <&mac3>;
			nvmem-cell-names = "mac-address";
		};
	};
};

&pcie30phy {
	status = "okay";
};

&pcie3x4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3x4_pins &pcie30x4m3_clkreqn &pcie30x4m3_waken>;
	clocks = <&cru ACLK_PCIE_4L_MSTR>, <&cru ACLK_PCIE_4L_SLV>,
		 <&cru ACLK_PCIE_4L_DBI>, <&cru PCLK_PCIE_4L>,
		 <&cru CLK_PCIE_AUX0>, <&cru CLK_PCIE4L_PIPE>,
		 <&pcie30_refclk>;
	clock-names = "aclk_mst", "aclk_slv",
		      "aclk_dbi", "pclk",
		      "aux", "pipe",
		      "ref";
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_pcie30>;
	supports-clkreq;
	status = "okay";
};

&pwm13 {
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	disable-wp;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&vcc_3v3_sys>;
	status = "okay";
};

&thermal_zones {
	lvds-thermal {
		polling-delay = <20000>;
		polling-delay-passive = <0>;
		thermal-sensors = <&lvds_sensor>;

		trips {
			alert {
				temperature = <75000>;
				hysteresis = <2000>;
				type = "passive";
			};
		};
	};
};

&usb_host0_ehci {
	/* USB3_HOST0 OHCI/EHCI-mode X25.2 (Upper) */
	status = "okay";
};

&usb_host0_xhci {
	/* USB3_HOST0 XHCI-mode X28 */
	usb-role-switch;
	status = "okay";

	port {
		/* Role Switch */
		usb_host0_xhci_role_switch: endpoint {
			remote-endpoint = <&typec0_role_switch>;
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			/* HS */
			reg = <0>;

			usb_host0_xhci_hs: endpoint {
				remote-endpoint = <&typec0_hs>;
			};
		};

		port@1 {
			/* SS */
			reg = <1>;

			usb_host0_xhci_ss: endpoint {
				remote-endpoint = <&typec0_ss>;
			};
		};
	};
};

&usb_host1_ehci {
	/* USB20_HOST1 OHCI/EHCI-mode X27 */
	status = "okay";
};

&usb_host1_xhci {
	/* USB3_HOST1 X25.1 (Lower) */
	dr_mode = "host";
	status = "okay";
};

&usb_host2_xhci {
	/* USB3_HOST2 XHCI-mode X25.2 (Upper) */
	status = "okay";
};

&usbdp_phy0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sbu_pins>;
	orientation-switch;
	sbu1-dc-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;
	status = "okay";

	port {
		/* Orientation Switch */
		usbdp_phy0_orientation_switch: endpoint {
			remote-endpoint = <&typec0_orientation_switch>;
		};
	};
};

&usbdp_phy1 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	phy-supply = <&vbus_host20_1>;
	status = "okay";
};

&vcc4v0_sys {
	vin-supply = <&v_sys>;
};

&pinctrl {
	brg {
		lvds_pins: lvds-pins {
			rockchip,pins =
				<1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>,	/* LCD_PWREN */
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>,	/* LCD_nRESET */
				<1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;	/* LCD_nSTBYB */
		};
	};

	hdmi {
		hdmirx_det: hdmirx-det-pins {
			rockchip,pins =
				<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;	/* HDMI_RX_DET_L */
		};

		hdmi1_tx_on: hdmi1-tx-on-pins {
			rockchip,pins =
				<3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;	/* HDMI_TX_ON_H */
		};
	};

	leds {
		leds_evb_pins: leds-evb-pins {
			rockchip,pins =
				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;	/* VD19 */
		};
	};

	mux {
		mux_pins: mux-pins {
			rockchip,pins =
				<1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;		/* CAM_I2C_MUX_RST */
		};
	};

	net {
		gmac0_rst_pins: gmac0-rst-pins {
			rockchip,pins =
				<0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC0_RST */
		};

		gmac1_rst_pins: gmac1-rst-pins {
			rockchip,pins =
				<0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC1_RST */
		};
	};

	pcie {
		pcie2x1l0_pins: pcie2x1l0-pins {
			rockchip,pins =
				<4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;	/* PERSTB_RTL1 */
		};

		pcie2x1l2_pins: pcie2x1l2-pins {
			rockchip,pins =
				<4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;	/* PERSTB_RTL0 */
		};

		pcie30_clk_pins: pcie30-clk-pins {
			rockchip,pins =
				<1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE30_CLK_PWREN */
		};

		pcie30_vcc_pins: pcie30-vcc-pins {
			rockchip,pins =
				<1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE30_PWREN */
		};

		pcie3x4_pins: pci3x4-pins {
			rockchip,pins =
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;	/* pcie30x4_perstn_m3 */
		};
	};

	usb {
		fusb302_pins: fusb302-pins {
			rockchip,pins =
				<4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;	/* TYPEC0_INT */
		};

		host20_1_pins: host20-1-pins {
			rockchip,pins =
				<4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;	/* HOST20_PWREN */
		};

		host30_1_pins: host30-1-pins {
			rockchip,pins =
				<4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;	/* HOST30_1_PWREN */
		};

		host30_2_pins: host30-2-pins {
			rockchip,pins =
				<1 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;	/* HOST30_2_PWREN */
		};

		sbu_pins: sbu-pins {
			rockchip,pins =
				<0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>,	/* TYPEC0_SBU2_DC */
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;	/* TYPEC0_SBU1_DC */
		};

		typec_pins: typec-pins {
			rockchip,pins =
				<4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;	/* TYPEC0_PWREN */
		};
	};
};
