/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <arm64/rockchip/rk8xx.h>
#include <arm64/rockchip/rk3588j.dtsi>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/soc/rockchip,vop2.h>

#include "rk3588.dtsi"

/ {
	model = "Diasom DS-RK3588-BTB";
	compatible = "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";
	chassis-type = "embedded";
	barebox,deep-probe;

	aliases {
		mmc0 = &sdhci;
		rtc0 = &rtc;
	};

	/* Fixup for eth0/1, just for information */
	/* Actually we need to set CPLL clock to 1.5 GHz */
//	assigned-clocks =
//		<&cru CLK_GMAC_125M>,
//		<&cru REFCLKO25M_ETH0_OUT>,
//		<&cru REFCLKO25M_ETH1_OUT>;
//	assigned-clock-rates =
//		<125000000>,
//		<25000000>,
//		<25000000>;

	chosen: chosen {
		stdout-path = "serial2:1500000n8";

		environment-emmc {
			compatible = "barebox,environment";
			device-path = &sdhci, "partname:env";
			status = "disabled";
		};
	};

	isp0: rkisp@fdcb0000 {
		compatible = "rockchip,rk3588-rkisp";
		reg = <0x0 0xfdcb0000 0x0 0x7f00>;
		interrupts = <GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH 0>,
			     <GIC_SPI 133 IRQ_TYPE_LEVEL_HIGH 0>,
			     <GIC_SPI 134 IRQ_TYPE_LEVEL_HIGH 0>;
		interrupt-names = "isp_irq", "mi_irq", "mipi_irq";
		clocks = <&cru ACLK_ISP0>, <&cru HCLK_ISP0>,
			 <&cru CLK_ISP0_CORE>, <&cru CLK_ISP0_CORE_MARVIN>,
			 <&cru CLK_ISP0_CORE_VICAP>;
		clock-names = "aclk_isp", "hclk_isp", "clk_isp_core",
			      "clk_isp_core_marvin", "clk_isp_core_vicap";
		power-domains = <&power RK3588_PD_VI>;
		iommus = <&isp0_mmu>;
		status = "disabled";
	};

	isp0_mmu: iommu@fdcb7f00 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		reg = <0x0 0xfdcb7f00 0x0 0x100>;
		interrupts = <GIC_SPI 132 IRQ_TYPE_LEVEL_HIGH 0>;
		interrupt-names = "isp0_mmu";
		clocks = <&cru ACLK_ISP0>, <&cru HCLK_ISP0>;
		clock-names = "aclk", "iface";
		power-domains = <&power RK3588_PD_VI>;
		rockchip,disable-mmu-reset;
		#iommu-cells = <0>;
		status = "disabled";
	};

	isp_vir0: rkisp-vir0 {
		compatible = "rockchip,rkisp-vir";
		rockchip,hw = <&isp0>;
		status = "disabled";
	};

	hdmi0-con {
		/* RK628 */
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi0_con_in: endpoint {
				remote-endpoint = <&hdmi0_out_con>;
			};
		};
	};

	hdmi1-con {
		/* Output to connector */
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi1_con_in: endpoint {
				remote-endpoint = <&hdmi1_out_con>;
			};
		};
	};

	leds: leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&leds_som_pins>;

		led-live {
			label = "btb:live";
			gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_GREEN>;
			linux,default-trigger = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
			panic-indicator;
		};
	};

	vcc_1v1_nldo: vcc1v1-nldo-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc4v0_sys>;
	};

	vcc4v0_sys: vcc4v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "4v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
	};
};

/delete-node/ &xin32k;

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big1>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_lit>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_lit>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_lit>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	sram-supply = <&vdd_gpu>;
	status = "okay";
};

&gpu_opp_table {
	/* Fix wrong frequency 800 MHz => 850 MHz */
	/delete-node/ opp-850000000;

	opp-850000000 {
		opp-hz = /bits/ 64 <850000000>;
		opp-microvolt = <787500 787500 850000>;
	};
};

&hdptxphy0 {
	status = "okay";
};

&hdptxphy1 {
	status = "okay";
};

&hdmi0 {
	/* Pins are not used */
	/delete-property/ pinctrl-0;
	/delete-property/ pinctrl-names;
	status = "okay";
};

&hdmi0_in {
	hdmi0_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi0>;
	};
};

&hdmi0_out {
	hdmi0_out_con: endpoint {
		remote-endpoint = <&hdmi0_con_in>;
	};
};

&hdmi0_sound {
	simple-audio-card,name = "HDMI0";
	status = "okay";
};

&hdmi1 {
	/* Disable CEC pin, Enable PWR_ON */
	pinctrl-0 = <&hdmim1_tx1_hpd &hdmim1_tx1_scl &hdmim1_tx1_sda &hdmi1_tx_on>;
	enable-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi1_in {
	hdmi1_in_vp1: endpoint {
		remote-endpoint = <&vp1_out_hdmi1>;
	};
};

&hdmi1_out {
	hdmi1_out_con: endpoint {
		remote-endpoint = <&hdmi1_con_in>;
	};
};

&hdmi1_sound {
	simple-audio-card,name = "HDMI1";
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0m2_xfer>;
	clock-frequency = <400000>;
	status = "okay";

	vdd_cpu_big0: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu_big0";
		regulator-boot-on;
		regulator-min-microvolt = <675000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1: regulator@43 {
		compatible = "rockchip,rk8603", "rockchip,rk8602";
		reg = <0x43>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu_big1";
		regulator-boot-on;
		regulator-min-microvolt = <675000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
	clock-frequency = <400000>;
	status = "okay";

	vdd_npu: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_npu";
		regulator-min-microvolt = <675000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c6 {
	clock-frequency = <400000>;
	status = "okay";

	/* 24aa02e48 */
//	eeprom@50 {
//		compatible = "atmel,24c02";
//		reg = <0x50>;
//		pagesize = <8>;
//		vcc-supply = <&vcc_3v3>;
//
//		nvmem-layout {
//			compatible = "fixed-layout";
//			#address-cells = <1>;
//			#size-cells = <1>;
//
//			mac0: mac-address@fa {
//				reg = <0xfa 0x06>;
//				read-only;
//			};
//		};
//	};

	/* rk628d */
	brg: hdmi@51 {
		pinctrl-names = "default";
		pinctrl-0 = <&brg_pins>;
		compatible = "rockchip,rk628";
		reg = <0x51>;
		enable-gpios = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		rk628-hdmi-in;
		status = "disabled";
	};

	/* m41t62lc6f */
	rtc: rtc@68 {
		compatible = "st,m41t62";
		reg = <0x68>;

		clock {
			compatible = "fixed-clock";
			pinctrl-names = "default";
			pinctrl-0 = <&clk32k_in>;
			clock-accuracy = <2000>;
			clock-frequency = <32768>;
			clock-output-names = "xin32k";
			#clock-cells = <0>;
		};
	};
};

&i2s5_8ch {
	/* HDMI0 Sound */
	status = "okay";
};

&i2s6_8ch {
	/* HDMI1 Sound */
	status = "okay";
};

&pd_gpu {
	domain-supply = <&vdd_gpu>;
};

&pd_npu {
	domain-supply = <&vdd_npu>;
};

&rknn_core_0 {
	npu-supply = <&vdd_npu>;
	sram-supply = <&vdd_npu>;
	status = "okay";
};

&rknn_core_1 {
	npu-supply = <&vdd_npu>;
	sram-supply = <&vdd_npu>;
	status = "okay";
};

&rknn_core_2 {
	npu-supply = <&vdd_npu>;
	sram-supply = <&vdd_npu>;
	status = "okay";
};

&rknn_mmu_0 {
	status = "okay";
};

&rknn_mmu_1 {
	status = "okay";
};

&rknn_mmu_2 {
	status = "okay";
};

&saradc {
	vref-supply = <&vcca_1v8>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	non-removable;
	no-sd;
	no-sdio;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";
};

&sdmmc {
	cap-mmc-highspeed;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	max-frequency = <150000000>;
	vqmmc-supply = <&vccio_sd>;
};

&spi2 {
	pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;
	num-cs = <1>;
	status = "okay";

	pmic@0 {
		compatible = "rockchip,rk806";
		reg = <0x0>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <
			&pmic_pins &rk806_dvs1_null
			&rk806_dvs2_null &rk806_dvs3_null
		>;
		spi-max-frequency = <20000000>;
		system-power-controller;
		rockchip,reset-mode = <RK806_RESTART>;

		vcc1-supply = <&vcc4v0_sys>;
		vcc2-supply = <&vcc4v0_sys>;
		vcc3-supply = <&vcc4v0_sys>;
		vcc4-supply = <&vcc4v0_sys>;
		vcc5-supply = <&vcc4v0_sys>;
		vcc6-supply = <&vcc4v0_sys>;
		vcc7-supply = <&vcc4v0_sys>;
		vcc8-supply = <&vcc4v0_sys>;
		vcc9-supply = <&vcc4v0_sys>;
		vcc10-supply = <&vcc4v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo>;
		vcc12-supply = <&vcc4v0_sys>;
		vcc13-supply = <&vcc_1v1_nldo>;
		vcc14-supply = <&vcc_1v1_nldo>;
		vcca-supply = <&vcc4v0_sys>;

		gpio-controller;
		#gpio-cells = <2>;

		rk806_dvs1_null: dvs1-null-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun0";
		};

		rk806_dvs2_null: dvs2-null-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun0";
		};

		rk806_dvs3_null: dvs3-null-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun0";
		};

		regulators {
			vdd_gpu: dcdc-reg1 {
				regulator-name = "vdd_gpu";
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <950000>;
				regulator-enable-ramp-delay = <400>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit: dcdc-reg2 {
				regulator-name = "vdd_cpu_lit";
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			dcdc-reg3 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <825000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			dcdc-reg4 {
				regulator-name = "vdd_vdenc";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <825000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			dcdc-reg5 {
				regulator-name = "vdd_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <935000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			dcdc-reg6 {
				regulator-name = "vdd2_ddr";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_2v0_pldo: dcdc-reg7 {
				regulator-name = "vdd_2v0_pldo";
				regulator-min-microvolt = <2000000>;
				regulator-max-microvolt = <2000000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2000000>;
				};
			};

			vcc_3v3: dcdc-reg8 {
				regulator-name = "vcc_3v3";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			dcdc-reg9 {
				regulator-name = "vddq_ddr";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: dcdc-reg10 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca_1v8: pldo-reg1 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v8_image: pldo-reg2 {
				regulator-name = "vcca_1v8_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v2_image: pldo-reg3 {
				regulator-name = "vcca_1v2_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_3v3: pldo-reg4 {
				regulator-name = "vcca_3v3";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: pldo-reg5 {
				regulator-name = "vccio_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			pldo-reg6 {
				regulator-name = "vcca_1v8_pldo6";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdda_0v75_pmu: nldo-reg1 {
				regulator-name = "vdda_0v75_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdda_ddr_pll: nldo-reg2 {
				regulator-name = "vdda_ddr_pll";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <892500>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v75_image: nldo-reg3 {
				regulator-name = "vdda_0v75_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v85: nldo-reg4 {
				regulator-name = "vdda_0v85";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v75: nldo-reg5 {
				regulator-name = "vdda_0v75";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	status = "okay";
};

&uart2 {
	/delete-property/ dmas;
	/delete-property/ dma-names;
	pinctrl-0 = <&uart2m0_xfer>;
	wakeup-source;
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi0: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi0_in_vp0>;
	};
};

&vp1 {
	vp1_out_hdmi1: endpoint@ROCKCHIP_VOP2_EP_HDMI1 {
		reg = <ROCKCHIP_VOP2_EP_HDMI1>;
		remote-endpoint = <&hdmi1_in_vp1>;
	};
};

&pinctrl {
	brg {
		brg_pins: brg-pins {
			rockchip,pins =
				<0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;	/* LVDS_BRG_EN */
		};
	};

	leds {
		leds_som_pins: leds-som-pins {
			rockchip,pins =
				<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;	/* VD2 */
		};
	};
};
